body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    color: white;    
}
/* navbar includes the logo, the nav-links, the spark dropdown and the right-side buttons */
.navbar {    
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: -10px 20px 10px 20px;  
    margin-top: -30px;  
}
.navbar > .logo { 
    width: 200px;            
}
.navbar > .logo img {  
    margin: 10px;
    width: 160px;
    align-items: center;         
}
.navbar > .explore-section {
    display: flex;
    width: 450px;
    justify-content: space-between;
    flex-direction: column;      
}
.navbar > .explore-section > .heading {
    color: goldenrod;
    align-items: center;
    width: 90px;
    height: 20px;
    padding: 0px 9.5px;
    overflow: visible;       
}
.navbar > .explore-section > .subheading {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-between;   
    height: 50px;   
}
.navbar > .explore-section > .subheading > .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;    
}
.navbar > .explore-section > .subheading > .links > .nav-link a {
    color: white;
    justify-content: space-between;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    align-items: center;
}
.navbar > .explore-section > .subheading > .spark {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30px;
    align-items: center;
    justify-content: space-between;
    color: gray;
    margin-left: 30px;    
}
.navbar > .explore-section > .subheading > .spark i {
    margin: 10px;    
}
.navbar > .buttons {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr ;
    justify-content: end;
    margin: 20px;
    align-items: center;
    width: 315px;    
}
.btn {
    background-color: #615858;
    color: white;
    border-radius: 2px;
    border: none;
    height: 40px;
    width: 80px;
    margin: 30px; 
    margin-left: 0px;     
}
.navbar > .buttons > .create > .btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    margin-right: 5px;    
}
.navbar > .buttons > .create > .btn i {
    font-size: 20px;  
    color: green;  
}
.navbar > .buttons > .search-image > .btn {
    background-color: black;
    width: 50px;
    height: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    padding-right: 10px;
}
.navbar > .buttons > .search-image > .btn i {
    color: gray;    
    width: 100%;
    height: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding-right: 10px;
}
.navbar > .buttons > .signup {
    margin-left: -20px;
    width: 60px;     
}
.navbar > .buttons > .signup > .btn {
    margin-right: 0px;      
}
/* page-content includes left and right-side text, buttons and the image */
.page-content {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(51, 51, 53),rgb(16, 16, 22));
    height: 4850x;
}
.page-content > .left-side {
    display: flex;
    flex-direction: column;
    width: 510px;
    height: 300px;
    margin: 70px;    
}
.page-content > .left-side > .heading {
    font-size: 30px;    
}
.page-content > .left-side > .heading i {
    color: gold;
}
.page-content > .left-side > .paragraph p {
    line-height: 30px;
    font-size: 22px;
}
.page-content > .left-side > .content-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 510px;     
}
.page-content > .left-side > .content-buttons > .signupfree {
    width: 175px;
    text-align: left;
 }
.page-content > .left-side > .content-buttons > .signupfree > .btn {
    background-color: #3bd38c;
    color: black;
    width: 250px;
    height: 50px;
    font-size: 30px;
}
.page-content > .left-side > .content-buttons > .learmore > .btn {
    background-color: #0c0b0b;
    color: white;
    width: 180px;
    height: 50px;
    font-size: 30px;
}
.page-content > .right-side > .right-heading h1 {
    color: white;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 15px;
}
.page-content > .right-side > .right-heading span {
    color: #068ea7;       
}
.page-content > .right-side > .image img {
    width: 560px;
    height: 450px;
    border: none;   
}
/* footer-buttons */
.footer-buttons {
    display: flex;
}
.footer-buttons > .btn {
    font-weight: bold;
    font-size: 15px;
    background-color: #363636;
    width: 100%;
    height: 55px;
    margin: 0px;
    border: 1.5px solid #595a4b;
    transition: 0.3s;    
}
.footer-buttons > .btn span {
    font-size: x-large;    
}
.footer-buttons > .btn:hover {    
    color:  #3bd38c;
}
/* the last black part without content */
.spacer80 {
    height: 80px;
    width: 100%;
    background-color: #252525;
}